@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Vazir";
  src: url("./assets/fonts/Vazir.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Vazir", sans-serif;
}

@layer base {
  html {
    font-size: 14px;
  }
  
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
}

/* استایل اسکرول بار سفارشی */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}